In [16]:
import pandas as pd

In [17]:
df = pd.read_csv("archive/heart_2020_cleaned.csv")
df.describe()
df['HeartDisease'].value_counts()

No     292422
Yes     27373
Name: HeartDisease, dtype: int64

In [18]:
def outliers_removal(column):
    return df[
        (df[column] <= df[column].quantile(0.99))
        & (df[column] >= df[column].quantile(0.01))
    ]


for column in ['BMI','PhysicalHealth','MentalHealth','SleepTime']:
    df = outliers_removal(column)
df.describe()

                 BMI  PhysicalHealth   MentalHealth      SleepTime
count  309066.000000   309066.000000  309066.000000  309066.000000
mean       28.164879        3.219917       3.788175       7.062216
std         5.673336        7.753508       7.818935       1.232006
min        17.920000        0.000000       0.000000       3.000000
25%        24.110000        0.000000       0.000000       6.000000
50%        27.320000        0.000000       0.000000       7.000000
75%        31.320000        2.000000       3.000000       8.000000
max        48.660000       30.000000      30.000000      11.000000

In [19]:
df['HeartDisease'].value_counts()

No     283048
Yes     26018
Name: HeartDisease, dtype: int64

In [22]:

json_data =df.to_json(orient='columns')
with open('data.json', 'w') as archivo:
    archivo.write(json_data)